@import "./reset.scss";

// 공통 요소 -> lib 등에 모아두면 좋을 것 같음, 예를 들어 button

html {
  font-family: "Noto Sans KR", sans-serif;
  letter-spacing: 5px;
  height: 100%;
}

body {
  height: 100%;
}

a {
  all: unset;
  color: inherit;
  &:hover {
    cursor: pointer;
    font-weight: 900;
  }
  &:focus {
    font-weight: 900;
    outline: auto;
  }
}

// input
.inputBasic {
  border-radius: 5px;
  border: 1px solid rgb(170, 170, 170);
  background-color: rgb(230, 230, 230);
  margin: 5px 0;
  padding: 10px 10px;
  &:focus {
    background-color: #fff;
    box-shadow: 0 0 5px #003cff62;
    outline: none;
  }
}

.underlineInput {
  border: none;
  border-bottom: 1px solid rgb(214, 214, 214);
  margin: 0 20px;
  &:focus {
    outline: none;
    box-shadow: 0 0 5px #29b6af;
  }
}

// button
.btnBasic {
  all: unset;
  border-radius: 5px;
  margin: 5px 0;
  padding: 10px 10px;
  color: white;
  background-color: #29b6af;
  text-align: center;
  margin: 20px 0;

  &:hover {
    cursor: pointer;
    background-color: #208d88;
  }
  &:focus {
    background-color: #208d88;
    box-shadow: 0 0 5px #003cff62;
  }
}

.btnRed {
  all: unset;
  border-radius: 5px;
  margin: 5px 0;
  padding: 10px 10px;
  color: white;
  background-color: #df3c47;
  text-align: center;
  margin: 20px 0;
  &:hover {
    cursor: pointer;
    background-color: #b33139;
  }
  &:focus {
    background-color: #b33139;
  }
}

.btnBasicSmall {
  all: unset;
  padding: 5px 10px;
  border-radius: 5px;
  margin: 0 5px;
  color: white;
  background-color: #29b6af;
  border: 1px solid #29b6af;
  text-align: center;

  &:hover {
    cursor: pointer;
    color: #29b6af;
    background-color: #ffffff;
    border: 1px solid #29b6af;
  }
  &:focus {
    color: #29b6af;
    background-color: #ffffff;
    border: 1px solid #29b6af;
  }
}

.width100 {
  width: 100%;
}

.width80 {
  width: 80%;
}

.width60 {
  width: 60%;
}

.height100 {
  height: 100%;
}

// font
.fontH1 {
  font-size: 32px;
  font-weight: bold;
}

.fontH2 {
  font-size: 24px;
  font-weight: bold;
}

.fontH3 {
  font-size: 20px;
  font-weight: bold;
}

.fontWhite {
  color: white;
}

.flexRow {
  display: flex;
}

.flexColumn {
  display: flex;
  flex-direction: column;
}

.flexHCenter {
  align-items: center;
}

.flexCenterCenter {
  justify-content: center;
  align-items: center;
}

.flexAuto {
  flex: auto;
}

.floatRight {
  display: block;
  float: right;
}

#layout {
  display: flex;
  flex-direction: column;
}

.container {
  position: relative;
}

.hidden {
  display: none !important;
}

.inBlock {
  display: inline-block;
}

// 로그인 제외 main의 공통 요소
.content_box {
  margin: 0 auto;
}

.global_nav {
  margin: 20px;
}

.global_month {
  margin: 20px;
}

.global_menu {
  padding: 5px 5px;
  border-radius: 30px;
  background-color: rgb(230, 230, 230);
  width: 30%;
  min-width: 200px;
  overflow: hidden;
}

.global_subMenu {
  padding: 10px 10px;
  border-radius: 30px;
  text-align: center;
  color: #fff;
  height: 100%;
  &:hover {
    color: black;
    background-color: #fff;
    cursor: pointer;
  }
}

.global_MenuSelected {
  color: black;
  background-color: #fff;
}

// 내역
.account_input {
  margin: 20px;
}

.account_input li {
  margin: 20px 0;
}

// .account_inputLine2 {
//   width: 60%;
// }
