// login
.login_box {
  width: 30%;
  min-width: 300px;
  height: fit-content;
  margin: 5% auto;

  background-color: #fff;
  border: 1px solid rgb(170, 170, 170);
  border-radius: 5px;
  box-shadow: 0 0 5px rgb(194, 194, 194);
}

.login_title {
  margin: 20px auto;
  text-align: center;
  width: 90%;
}

.login_title h2 {
  padding: 10px 0;
  border-bottom: 1px solid #d1d5da;
  opacity: 0.3;
}

.login_content input {
  width: 80%;
}

.login_content button {
  width: 80%;
}

.loginSelected {
  border-top: 1px solid #d1d5da;
  border-left: 1px solid #d1d5da;
  border-right: 1px solid #d1d5da;
  border-bottom: none !important;
  opacity: 1 !important;
}
