// 내역
.account_input {
  margin: 20px 0;
}

.account_input li {
  margin: 20px 0;
}

// 리스트
.account_box {
  margin: 30px auto;
}

.ie_filter {
  text-align: right;
  margin: 10px 0;
}

.account_lhead {
  border-top: 2px solid #000000;
  border-bottom: 2px solid #000000;
  padding: 10px 0;
}

.textRight {
  text-align: right;
}

.account_lbody {
  border-top: 1px solid #969696;
  border-bottom: 1px solid #969696;
  padding: 10px 0;
}

.dayname {
  color: #a0a0a0;
}

.pay_method {
  color: #a0a0a0;
}

.income {
  color: #3a97d4;
  font-weight: bold;
}

.expense {
  color: #37ddd5;
  font-weight: bold;
}
.category {
  display: inline-block;
  width: 100px;
  text-align: center;
  padding: 5px 0;
  margin-right: 20px;
  border-radius: 10px;
  color: #fff;
}

.cate_income {
  background-color: #3a97d4;
}

.cate_expense {
  background-color: #37ddd5;
}
